<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simbiosyscorp.thetravelingsalesman">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Expenses"
            android:label="@string/title_activity_expenses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ExpenseAdd"
            android:label="@string/title_activity_expense_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Travel"
            android:label="@string/title_activity_travel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TravelDetail"
            android:label="@string/title_activity_travel_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.ClientEditActivity" />
        <activity
            android:name=".ui.ReportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TripExpMan"
            android:label="@string/title_activity_trip_exp_man"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.LandingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.ClientActivity"
            android:parentActivityName=".ui.LandingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ClientInfoActivity"
            android:label="@string/title_activity_client_info"
            android:parentActivityName=".ui.LandingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        activity
            android:name=".TaskActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".TaskListActivity" />

        <activity
            android:name=".TaskPagerActivity"
            android:parentActivityName=".TaskListActivity" /
        -->

        <activity
            android:name=".ui.TaskListActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TaskSearchResultActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/task_searchable" />
        </activity>
        <activity
            android:name=".ui.ClientPickActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.ReportTaskActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.ReportsActivity" />
        <activity
            android:name=".ui.ReportExpenseActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.ReportsActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.BaseActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.ResultActivity" />
        <activity android:name=".ui.ImportClientActivity"></activity>
    </application>

</manifest>
