<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appers.ayvaz.thetravelingsalesman">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Expenses"
            android:label="@string/title_activity_expenses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpenseAdd"
            android:label="@string/title_activity_expense_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Travel"
            android:label="@string/title_activity_travel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TravelDetail"
            android:label="@string/title_activity_travel_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClientEditActivity"
            android:parentActivityName=".ClientInfoActivity" />
        <activity
            android:name=".ReportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportsExpenseActivity"
            android:parentActivityName=".ReportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportsTasksActivity"
            android:parentActivityName=".ReportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TripExpMan"
            android:label="@string/title_activity_trip_exp_man"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LandingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ClientActivity"
            android:parentActivityName=".LandingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClientInfoActivity"
            android:label="@string/title_activity_client_info"
            android:parentActivityName=".ClientActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        activity
            android:name=".TaskActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".TaskListActivity" />

        <activity
            android:name=".TaskPagerActivity"
            android:parentActivityName=".TaskListActivity" /
        -->

        <activity
            android:name=".TaskListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TaskSearchResultActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/task_searchable" />
        </activity>

        <activity android:name=".view.ClientPickActivity"
            android:launchMode="singleTop"></activity>
    </application>

</manifest>
